<h1 class="display-4">About me</h1>
<p class="subheader">I promise I'm not a narcissist.</p>
<p class="text">
  I'm a 21 year old Computer Science student at the University of Twente. I'm doing this study mainly because I like to
  mess around with stuff I learn.<br>Since I don't use this website because I want to get hired or something, this
  section is really quite useless. Enjoy the other parts of the website.<br><br>This website was made using Angular 7 and Bootstrap 4.
</p>
