<div class="form-row">
  <div class="col-md">
    <div class="card">
      <img src="/BierstrepenScreenshot.png" class="card-img-top" alt="Bierstrepen screenshot">
      <div class="card-body">
        <h5 class="card-title">Bierstrepen</h5>
        <p class="card-text">A JavaFX application built for my student house, to keep track of beers people have taken.
          The app is made for drinking casks.</p>
        <a href="http://bierstrepen.luctimmerman.nl" target="_blank" class="btn btn-primary">Bierstrepen website</a>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <img src="2woorden9lettersScreenshot.png" class="card-img-top" alt="2 woorden 9 letters screenshot">
      <div class="card-body">
        <h5 class="card-title">2 woorden 9 letters</h5>
        <p class="card-text">"2 woorden 9 letters" is a common phrase every Dutch student knows. It normally means one
          of three things. I, and many others, felt this could be more. Enter this website.</p>
        <a href='http://29.luctimmerman.nl' target="_blank" class="btn btn-primary">2 woorden 9 letters website</a>
      </div>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BUSHOKJE</h5>
        <p class="card-text">I own a server on the campus of the University of Twente named BUSHOKJE. It is currently
          doing a couple of things, such as contributing to the Folding@Home initiative. You can view more of its
          activity on its website.</p>
        <a href="https://bushokje.student.utwente.nl/" target="_blank" class="btn btn-primary">Bushokje website</a>
      </div>
    </div>
  </div>
</div>
