<h1 class="display-4">Hi</h1>
<p class="h2">Welcome to my website</p>
<p class="text">Thanks for visiting! Take a look around. You can find my public projects here and view some of my accounts.<br>
  If you'd like to contact me, you can do so at luc@luctimmerman.nl, and I'll try to respond as quickly as I can.</p>
<p class="text"></p>
<div class="form-row">
  <div class="col-md">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Github</h5>
        <p class="card-text">Most of my projects are on Gitlab, but my Github can be found using the button below.</p>
        <a href="https://www.github.com/Luctia" target="_blank" class="btn btn-primary">My Github</a>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Gitlab</h5>
        <p class="card-text">Most of my Gitlab projects are private, but my account can be found below.</p>
        <a href="https://www.gitlab.com/Luctia" target="_blank" class="btn btn-primary">My Gitlab</a>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">LinkedIn</h5>
        <p class="card-text">My LinkedIn profile.</p>
        <a href="https://www.linkedin.com/in/luc-timmerman/" target="_blank" class="btn btn-primary">My LinkedIn</a>
      </div>
    </div>
  </div>
</div>
